html,
body {
  font-size: 16px;
  background-color: #ffffff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
button,
input,
textarea,
section,
option {
  outline: none;
}
button {
  display: block;
  border: none;
  background: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a{
  display: inline-block;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__item a {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.menu__item a span {
  display: inline-block;
  margin-left: 10px;
}

.menu__item img {
  width: 30px;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-box {
  display: grid;
  grid-template-rows: 150px auto 1fr 60px;
  grid-template-columns: 1fr 250px;

  grid-template-areas:
    "header  header"
    "menu    aside"
    "content aside"
    "footer  footer";

  min-height: 100vh;
  border: 1px dotted black;
}

.grid-item {
  text-align: center;
  padding: 10px;
  border: 1px solid #ffffff;
}

.header {
  /* grid-column: 1/-1;
  grid-row: 1; */

  grid-area: header;

  background-color: #26c196;
}

.nav {
  /* grid-column: 1; */

  grid-area: menu;

  background-color: #009a6a;
}

.content {
  /* grid-column: 1;
  grid-row: 3; */

  grid-area: content;

  background-color: #a4dbcd;
}

.aside {
  /* grid-column: 2;
  grid-row: 2/4; */

  grid-area: aside;

  background-color: #55c7a7;
}

.footer {
  /* grid-column: 1/-1;
  grid-row: 4; */

  grid-area: footer;

  background-color: #115342;
}

@media (max-width: 992px) {
  .menu {
    flex-direction: column;
  }

  .menu__item {
    margin-bottom: 20px;
  }

  .menu__item a span {
    display: none;
  }

  .grid-box {
    grid-template-columns: auto 1fr 250px;
    grid-template-rows: 150px 1fr 60px;

    grid-template-areas:
      "menu    header  header"
      "menu    content aside"
      "menu    footer  footer";
  }

  /* .header {
    grid-column: 2/-1;
  }

  .nav {
    grid-row: 1/-1;
  }

  .content {
    grid-column: 2;
    grid-row: 2;
  }

  .aside {
    grid-column: 3;
    grid-row: 2/3;
  }
  
  .footer {
    grid-column: 2/-1;
    grid-row: 3;
  } */
}

@media (max-width: 768px) {
  .menu {
    flex-direction: row;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid red;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);

    @media (min-width: 320px) and (max-width: 768px) {
    }
  }

  .menu__item {
    margin-bottom: 0;
  }

  .grid-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto 150px 1fr 100px 60px;

    grid-template-areas:
      "menu"
      "header"
      "content"
      "aside"
      "footer";
  }

  /* .header {
    grid-column: 1;
    grid-row: 2;
  }

  .nav {
    grid-row: 1;
    grid-column: 1;
  }

  .content {
    grid-column: 1;
    grid-row: 3;
  }

  .aside {
    grid-column: 1;
    grid-row: 4;
  }
  
  .footer {
    grid-column: 1;
    grid-row: 5;
  } */
}
